'.text.html, .text.html .meta.scope.between-tag-pair, .text.html .punctuation.tag.begin, .source.js.jsx':
  'Fake Image':
    'prefix': 'fakeImg'
    'body': '<img src="http://fakeimg.pl/${1:350}x${2:200}/${3:bdd9d2}/${4:3f232a}/?text=${5:Fake-Image}">'

  'Fake Square Image':
    'prefix': 'fakeImgS'
    'body': '<img src="http://fakeimg.pl/${1:350}x${1:350}/${2:bdd9d2}/${3:3f232a}/?text=${4:Fake-Image}">'

  'Fake Src Square Image':
    'prefix': 'sfakeImgS'
    'body': 'http://fakeimg.pl/${1:200}x${1:200}/${2:ff0000},${3:128}/${4:000}'
